.scores a {
	border-bottom: 1px dotted;
	text-decoration: none;
}

.scores a.star-off, .scores a.star-on {
	border-bottom: none;
}

.scores dd {
	float: none;
	margin-bottom: 12px;
	text-align: left;
}

.scores dl {
	margin: 8px 0 0;
}

.scores dt {
	color: #fff;
	float: none;
	text-align: left;
}

.scores h4 {
	margin: 0 0 8px;
}

.scores p {
	color: #fff;
	font-size: 0.9em;
	margin: 0 !important;
}

.scores p.small {
	color: #aaa;
	font-size: 0.8em;
}

.score-gray {
	background-image: url(score-panel.png);
	background-position: 0 0;
	height: 10px;
	width: 140px;
}

.score-blue {
	background-image: url(score-panel.png);
	background-position: 0 10px;
	height: 10px;
	width: 140px;
}

.extended-stars-hoverable .score-blue, .extended-stars-hoverable .score-gray {
	cursor: pointer;
	cursor: hand;
}

.extended-stars-hoverable .disabled {
	cursor: default;
}