 .bl-comment { clear: left }

 .bl-author { float: left; text-align: right; width: 150px }
 .bl-author a { display: block; font-size: 10pt; font-weight: bold; margin-top: 16px }
 .bl-author-meta { color: #999; cursor: default; font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size: 8pt; margin: 6px 0 }
 .bl-avatar { float: right; margin: 0 0 10px 10px }

 .bl-current-user .bl-author { background-color: #f9fcfc; border: 1px solid #ccc; border-right: none; padding: 0px 10px 14px 0; width: 149px }

 .bl-leftborder { border-left: 6px solid #ccc; margin-left: 160px }
 .bl-content { border: 1px solid #666; border-top-color: #bbb; border-bottom: none; padding: 16px }
 .bl-content table { width: auto !important }

 .bl-odd .bl-content { background-color: #fff; }
 .bl-even .bl-content { background-color: #efefef; }
 .bl-deleted .bl-content {
    background-color: #e3e3e3;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(226, 226, 226)),color-stop(0.5, rgb(219, 219, 219)),color-stop(0.51, rgb(209, 209, 209)),color-stop(1, rgb(254, 254, 254)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(226, 226, 226) 0%,rgb(219, 219, 219) 50%,rgb(209, 209, 209) 51%,rgb(254, 254, 254) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(226, 226, 226) 0%,rgb(219, 219, 219) 50%,rgb(209, 209, 209) 51%,rgb(254, 254, 254) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(226, 226, 226) 0%,rgb(219, 219, 219) 50%,rgb(209, 209, 209) 51%,rgb(254, 254, 254) 100%);
}

 .bl-files { border-top: 1px solid #ccc; clear: right; margin-top: 16px; padding: 8px }

 .bl-first .bl-content { border-top: 1px solid #666 }
 .bl-last .bl-content { border-bottom: 1px solid #666 }

 .bl-meta { clear: both; font-size: 9pt; margin-top: 24px }

 .bl-pager .forum-page-current, .bl-pager a { padding: 2px 8px; }
 .bl-pager .forum-page-current, .bl-pager a:hover { background-color: #d00; color: #fff }
 .bl-pager .prevnext { text-decoration: none }